.App {
  text-align: center;
}

.Die{
  padding: 0.25em;
  font-size: 10em;
  color: slateblue;
 
}

.shaking{
  animation-name: wobble;
  animation-duration: 1s;
}

@keyframes wobble {
  from {transform: translate3d(0, 0, 0);}
  15% {transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);}
  30% {transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);}
  45% {transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);}
  60% {  transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);}
  75% { transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);}
  to { transform: translate3d(0, 0, 0);}
}

.RollDice{
display: flex;
flex-flow: column nowrap;
}

.RollDice-container{
  display: flex;
  justify-content: center;
  align-content: center;
}

.RollDice button{
  border-radius: 10px;
  width: 15em;
  padding: 1.5em;
  border:0px;
  color: white;
  background-color: black;
  margin-top: 3em;
  align-self: center;
}

.RollDice button:hover{
  background-color:  darkslateblue ;
  cursor: pointer;
}